<div class="marg-bt">
  <div class="booking" class="container-booking">
    <div class="card-flex">
      <%= image_tag "checked.png", class: "gender"%>
      <p>CONFIRMED</p>
    </div>
    </div class="container">
      <% @bookings.each do |booking, index| %>
        <div class="card">
          <div class="card-flex">
            <%= image_tag booking&.event&.sport&.picture %>
            <div class= "card-description">
              <h3><%= booking&.event&.sport&.name %></h3><p class="float-card">Spots: <%= booking&.event&.available_slots%>/<%= booking&.event&.capacity%></p>
              <p><%= booking&.event&.date&.strftime('%b %e, %l:%M %p')%></p>
              <p><%= booking&.event&.address %></p>
            </div>
          </div>
          <%= button_to 'More', booking_path(booking), method: :get, class: ' join active sign-in btn flex-end' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
