<div class= "main-profile">
  <div class="container">
    <% if !(@user.image.nil?) %>
    <%= image_tag @user.image, class: "user"%>
    <%  else  %>
    <%= image_tag "user.png", class: "user"%>
    <% end %>
    <div class="user-description">
      <div class="user-name">
        <%= current_user.first_name%>
        <%= current_user.last_name%>
      </div>
      <%= current_user.email %>
    </div>
  </div>
  <h1>Who are you?</h1>
  <%= image_tag "spyware.png", class: "gender-img gender male"%>
  <%= image_tag "clerk.png", class: "gender-img gender female"%>

  <h1>Would you like to play for?</h1>
    <%= image_tag "trophy.png", class: "play-img gender male"%>
    <%= image_tag "happy.png", class: "play-img gender female"%>

  <h1>Sport preferences?</h1>
    <%= image_tag "Soccer.png", class: "sport-img gender male sport-marg"%>
    <%= image_tag "Bowling.png", class: "sport-img gender female sport-marg"%>
    <%= image_tag "Tennis.png", class: "sport-img gender female sport-marg"%>
    <%= image_tag "Basketball.png", class: "sport-img gender male sport-marg"%>
    <%= image_tag "Beach-volley.png", class: "sport-img gender female sport-marg"%>
    <%= image_tag "Ping-pong.png", class: "sport-img gender female sport-marg"%>

  <div class= "margin-b">
      <%= image_tag "Football.png", class: "sport-img gender male sport-marg"%>
      <%= image_tag "Pool.png", class: "sport-img gender female sport-marg"%>
      <%= image_tag "Volley-1.png", class: "sport-img gender female sport-marg"%>
  </div>
</div>
