<div class= "main-profile">
  <div class="container">
  <%= image_tag "user.png", class: "user"%>
  <div class="user-description">
    <div class="user-name">
      <%= current_user.first_name%>
      <%= current_user.last_name%>
    </div>
    <%= current_user.email %>
  </div>
  </div>

  <h1>Who are you?</h1>
  <%= image_tag "spyware.png", class: "gender male"%>
  <%= image_tag "clerk.png", class: "gender female"%>

  <h1>Would you like to play for?</h1>
  <%= image_tag "trophy.png", class: "gender male"%>
  <%= image_tag "friendship.png", class: "gender female"%>
  <h1>Sport preferences?</h1>
  <%= image_tag "Soccer.png", class: "gender male sport-marg"%>
  <%= image_tag "Bowling.png", class: "gender female sport-marg"%>
  <%= image_tag "Tennis.png", class: "gender female sport-marg"%>
  <%= image_tag "Basketball.png", class: "gender male sport-marg"%>
  <%= image_tag "Beach-volley.png", class: "gender female sport-marg"%>
  <%= image_tag "Ping-pong.png", class: "gender female sport-marg"%>
  <%= image_tag "Football.png", class: "gender male sport-marg"%>
  <%= image_tag "Pool.png", class: "gender female sport-marg"%>
  <%= image_tag "Volley-1.png", class: "gender female sport-marg"%>
</div>
