<div class="footer">
  <div>
  <%=link_to(image_tag("profile-user.png"), dashboard_path)%><p>Profile</p>
  </div>
  <div>
  <%=link_to(image_tag("logo copy.png"), root_path)%><p>Sports</p>
  </div>
  <div>
  <%=link_to(image_tag("add.png"), new_event_path)%> <p>Create</p> <!-- change root-->
  </div>
  <div>
  <%=image_tag "chat.png"%><p>Chat</p> <!-- have to create controller-->
  </div>
  <div>
  <%=image_tag"activity.png"%><p>Activity</p> <!-- find the right routes-->
  </div>
</div>


