<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<!--map-->
<% content_for :after_js do %>
  <%= javascript_pack_tag 'map' %>
<% end %>

<div class= "searchbar">
  <div class="check-box">
    <p id='recurency'>Daily</p>
    <input type="checkbox" id="toggle" class="offscreen" action='' />
    <label for="toggle" class="switch"></label>
  </div>
</div>

</div class="container">
  <% @events.each do |event| %>
  <div class="card">
    <h3><%= @sport&.name %></h3><p class="float-card"><%= event&.date&.strftime('%b %e, %l:%M %p')%></p>
    <div class= "card-description">
      <p><%= event&.address %></p>
      <p>Available spots: <%=event&.available_slots%>/<%= event&.capacity%></p>
    </div>
    <div class= "join">
      <% if event.full? %>
        <button type="button" class="btn" disabled>Full</button>
      <% elsif !((event.booking_ids & current_user.booking_ids) == [])%>
        <button type="button" class="btn" disabled>Already booked</button>
      <%else%>
        <p><%= button_to 'Join', { action: "create", controller: "bookings", params: { booking: {event_id: event.id,  user_id: current_user.id}}}, class: 'active sign-in btn' %>
      <%end%>
    </div>
  </div>
  <% end %>
</div>



