<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<!--map-->
<% content_for :after_js do %>
  <%= javascript_pack_tag 'map' %>
<% end %>


</div class="container">
  <% @events.each do |event| %>
  <div class="card">
    <h3><%= @sport&.name %></h3>
    <p><%= event&.address %></p>
    <p><%= event&.date&.strftime('%b %e, %l:%M %p')%></p>
    <h6 class="active sign-in btn join">Join</h6>

  </div>
  <% end %>
</div>



